body, header, footer {
    margin: 0;
    padding: 0;
}

.heading-body {
    background-color: #272A33;
}

.heading {
    margin-top: 250px;
    text-align: center;
    background-color: #272A33;
}

.comingsoon-diagonal-line {
    border: 4px solid #FF7324;
    width: 10%;
    margin-left: 590px;
}

.heading h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

.comingsoon-diagonal-line1 {
    border: 4px solid #FF7324;
    width: 10%;
    margin-left: 850px;
    margin-bottom: 140px;
}