body, header, footer {
    margin: 0;
    padding: 0;
}

body {
    background-color: #272A33;
}

.main-signup {
    margin-left: 520px;
    min-height: 830px;
}

.main-signup h1 {
    margin-top: 120px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    line-height: 0.5;
    color: #FAFAFA;
}

.main-signup p {
    font-family: Inter;
    font-size: 14px;
    color: #5B647D;
}

.input-container input {
    display: block;
    margin-bottom: 15px;
    color: #D8D8D8;
    padding: 17px 365px 17px 15px;
    border: none;
    border-radius: 2px;
    background-color: #303540;
}

.input-username {
  margin-top: 30px;
}

.input-container input:hover {
    border: solid #FF7324 1px;
}

.input-container input:focus {
    border-color: #F05700;
    outline: none;
}

.agreement-checkbox {
  display: flex;
  gap: 5px;
  padding-top: 20px;
}

.agreement-checkbox label {
  color: #D8D8D8;
  font-family: Inter;
  font-size: 14px;
  cursor: pointer
}

.signup-span {
    color: #FF7324;
}

.signup-span:hover {
    text-decoration: underline;
}

.promotional-checkbox {
    display: flex;
    gap: 5px;
    padding-top: 5px;
  }
  
.promotional-checkbox label {
    color: #D8D8D8;
    font-family: Inter;
    font-size: 14px;
    cursor: pointer
}

.signup-diagonal-line1 {
  border: solid #383A42 1px;
  width: 51.5%;
  margin-top: 55px;
}

.signup-diagonal-line2 {
    border: solid #383A42 1px;
    width: 51.5%;
    margin-top: 20px;
}

.time {
    background-color: #303540;
    margin-top: 20px;
    padding: 1px 100px 2px 15px;
    width: 41%;
    border-radius: 5px;
}

.time:hover {
    border: solid 1px #FF7324;
}

.time p {
    color: #FFFFFF;
}

.location {
    background-color: #303540;
    margin-top: 20px;
    padding: 1px 100px 2px 15px;
    width: 41%;
    border-radius: 5px;
}

.location:hover {
    border: solid 1px #FF7324;
}

.location p {
    color: #FFFFFF;
}

.signup-diagonal-line {
  border: solid 1px #383A42;
  width: 51.5%;
  margin-top: 20px;
}

.signup-button {
  position: relative;
  top: 35px;
  padding: 12px 203px;
  background-color: #FF7324;
  border: none;
  border-radius: 50px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

.signup-button {
  color: #FFFFFF;
}

.signup-button:hover {
  background-color: #F05700;
}

.main-signup a {
    text-decoration: none;
}