body, header, footer {
    margin: 0;
    padding: 0;
}

.App-header {
    background-color: #272A33;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
}

.fa-solid {
    color: #454D60;
    font-size: 20px;
    margin-right: 15px;
}
  
.fa-solid:hover {
    color: white;
}
  
.button-container {
    display: flex;
}
  
.login-container {
    display: flex;
    align-items: center;
}
  
.button1, .button2 {
    margin-left: 5px;
    padding: 7px 16px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
}
  
.material-symbols-outlined {
    color: #454D60;
}
  
.button1 {
    background-color: #454D60;
}
  
.button1:hover {
    background-color: #303542;
}
  
.button2 {
    margin-right: 70px;
    background-color: #FF7324;
}
  
.button2:hover {
    background-color: #F05700;
}

.intro {
    min-height: 970px;
    background: linear-gradient(to bottom, #272A33 40%, #FF7324);
}

.intro h1 {
    padding-top: 220px;
    margin-left: 60px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 36px;
    line-height: 1;
    color: #FFFFFF;
}

.intro p {
    margin-left: 60px;
    font-family: Inter;
    font-size: 17px;
    position: relative;
    top: -10px;
    line-height: 1.5;
    color: #B3B3B3;
}

.intro .start {
    margin-left: 60px;
    padding: 10px 33px;
    background-color: #FF7324;
}

.intro .start:hover {
    background-color: #F05700;
    cursor: pointer;
}

.intro .find {
    background-color: #454D60;
}

.intro .find:hover {
    background-color: #303542;
    cursor: pointer;
}

.intro button {
    margin-right: 10px;
    border-radius: 50px;
    border: none;
    padding: 10px 35px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.intro a {
    text-decoration: none;
    color: #FFFFFF;
}

.floating-section {
    position: absolute;
    top: 105%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-left: 45px;
    min-height: 530px;
    width: 94.5%;
    border-radius: 10px;
    box-shadow: 1px 1px 40px;
}

.plan {
    margin-left: 70px;
}

.stats {
    margin-right: 70px;
}

.plan img {
    width: 340px;
    height: 340px;
}

.members img {
    width: 300px;
    height: 340px;
}

.stats img {
    width: 300px;
    height: 340px;
}

.plan img, .members img, .stats img {
    padding-left: 30px;
    margin-top: 55px;
}

.plan p, .members p, .stats p {
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    color: #222732;
    line-height: 1.5;
}

.benefits {
    min-height: 490px;
}

.benefits h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-left: 40px;
    color: #222732;
    margin-top: 500px;
}

.diagonal-line {
    border: solid 2px #FF7324;
    width: 5%;
    margin-top: 50px;
    margin-left: 40px;
}

.column {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 20px;
    width: 83%;
}

.column img {
    width: 70px;
    height: 70px;
}

.column .members {
    position: relative;
    bottom: 50px;
}

.admins img, .brackets img, .support img {
    margin-left: 20px;
}

.column li {
    font-family: Inter;
    font-size: 14px;
    line-height: 1.8;
    color: #333A4A;
}

.features {
    min-height: 800px;
}

.features h1 {
    color: #222732;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    margin-top: 70px;
    line-height: 1.2;
}

.row1 img, .row2 img {
    width: 360px;
    height: 325px;
}

.row1, .row2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 45px;
}

.row2 {
    position: relative;
    bottom: 140px;
}

.gamers, .athletes, .casuals, .enthusiasts, .patrons, .coworkers, .fans, .intramural {
    position: relative;
}
  
.gamers p {
    position: absolute;
    bottom: 114px;
    left: 70%;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.athletes p {
    position: absolute;
    bottom: 114px;
    left: 67%;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.casuals p {
    position: absolute;
    bottom: 114px;
    left: 47%;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.enthusiasts p {
    position: absolute;
    bottom: 114px;
    left: 56%;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.patrons p {
    position: absolute;
    bottom: 114px;
    left: 70%;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.coworkers p {
    position: absolute;
    bottom: 114px;
    left: 57%;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.fans p {
    position: absolute;
    bottom: 114px;
    left: 79%;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.intramural p {
    position: absolute;
    bottom: 114px;
    left: 20%;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.background {
    position: relative;
    bottom: 114px;
    min-height: 50px;
    background: linear-gradient(to right bottom, transparent 50%, #FF8038D9 50%);
}

.background1 {
    position: relative;
    bottom: 114px;
    min-height: 60px;
    background: #FF8038D9;
}

.floating-heading {
    position: relative;
    bottom: 250px;
}

.skewed-section {
    min-height: 100px;
    background: linear-gradient(to right bottom, transparent 50%, #252830 50%);
}

.start-community {
    background: #252830;
    display: flex;
    justify-content: space-between;
    min-height: 300px;
}

.start-community h1 {
    color: #FFFFFF;
    font-size: 35px;
    line-height: 0.2;
    margin-left: 220px;
    margin-top: 135px;
}

.start-community p {
    color: #CCCCCC;
    font-size: 14px;
    font-family: Inter;
    margin-left: 220px;
}

.start-community span {
    color: #2BBFFF;
}

.start-community span:hover {
    cursor: pointer;
}

.start-community button {
    padding: 10px 33px;
    background-color: #FF7324;
    border-radius: 50px;
    border: none;
    padding: 10px 35px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 135px;
    margin-right: 220px;
}

.start-community a {
    color: #FFFFFF;
}

.start-community button:hover {
    background-color: #F05700;
    cursor: pointer;
}

footer {
    background-color: #272A33;
    min-height: 320px;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #383A42;
}
  
footer h5 {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
}
  
footer p {
    color: #5F6472;
    font-family: Inter;
    font-size: 13px;
}
  
footer p:hover {
    color: #D8D2C8;
}
  
.column1 img {
    width: 175px;
    height: 40px;
}
  
.column1, .column2, .column3, .column4 {
    flex: 1;
    padding-top: 35px;
    padding-left: 35px;
}
  
a {
    text-decoration: none;
}
  
.socials a {
    margin-right: 20px;
    font-size: 20px;
    color: #5F6472;
}
  
.socials a:hover {
    color: #B4B5B7;
}