body, header, footer {
    margin: 0;
    padding: 0;
}

body {
    background-color: #272A33;
}

.App-header {
    background-color: #272A33;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
}

.button-container {
    display: flex;
}
  
.login-container {
    display: flex;
    align-items: center;
}
  
.button1, .button2 {
    margin-left: 5px;
    padding: 7px 16px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
}
  
.material-symbols-outlined {
    color: #454D60;
}
  
.button1 {
    background-color: #454D60;
}
  
.button1:hover {
    background-color: #303542;
}
  
.button2 {
    margin-right: 70px;
    background-color: #FF7324;
}
  
.button2:hover {
    background-color: #F05700;
}

.empty-space {
    height: 330px;
    background-color: #0F131B;
}

.main-event {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 950px;
}

.menu {
    width: 120px;
    display: block;
    position: sticky;
    top: 90px;
    margin-top: 20px;
    margin-left: 160px;
}

.menu .item1, .menu .item2, .menu .item3, .menu .item4 {
    padding: 16px 30px;
    border-radius: 50px 0 0 50px;
    border-right: 1px solid #383A42;
}

.diagonal-line1 {
    border: 1px solid #383A42;
    border-right: 1px solid #383A42;
    width: 70%;
    margin-left: 33px;
}

.menu .item1:hover, .menu .item2:hover, .menu .item3:hover, .menu .item4:hover {
    cursor: pointer;
}

.menu .item1:hover, .menu .item3:hover, .menu .item4:hover {
    background-color: #2B2F39;
}

.menu .item2 {
    background-color: #393d4a;
}

.menu .fa-ticket {
    color: #FFFFFF;
}

.menu .fa-users, .menu .fa-trophy, .menu .fa-compass {
    color: #95979C;
}

.menu .fa-users:hover, .menu .fa-trophy:hover, .menu .fa-compass:hover {
    color: #95979C;
}

ul {
    list-style-type: none;
}

.fa-solid {
    color: #454D60;
    font-size: 20px;
    margin-right: 15px;
}

.fa-solid:hover {
    color: white;
}

.content {
    margin-left: 40px;
    padding-top: 5px;
}

.content h1 {
    font-family: 'Chakra Petch';
    font-size: 42px;
    color: #FFFFFF;
}

.content .diagonal-line {
    border: 2px solid #F35F21;
    width: 6%;
    position: relative;
    bottom: 100px;
}

.create {
    position: relative;
    left: 775px;
    bottom: 125px;
    padding: 13px 52px;
    border-radius: 50px;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 17px;
    background-color: #FF7324;
    margin-top: 40px;
}

.create:hover {
    cursor: pointer;
    background-color: #F05700;
}

.create a {
    color: #FFFFFF;
}

.commence {
    display: flex;
    gap: 20px;
}

.text {
    margin-left: 23px;
    margin-top: 70px;
}

.text h2 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    line-height: 1.1;
}

.text p {
    font-family: Inter;
    font-size: 21px;
    color: #D8D8D8;
    font-weight: 300;
    line-height: 1.4;
}

.create2 {
    padding: 7px 40px;
    border-radius: 50px;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #FF7324;
    margin-top: 10px;
}

.create2:hover {
    cursor: pointer;
    background-color: #F05700;
}

.create2 a {
    color: #FFFFFF;
}

footer {
    background-color: #272A33;
    min-height: 320px;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #383A42;
}
  
footer h5 {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
}
  
footer p {
    color: #5F6472;
    font-family: Inter;
    font-size: 13px;
}
  
footer p:hover {
    color: #D8D2C8;
}
  
.column1 img {
    width: 175px;
    height: 40px;
}
  
.column1, .column2, .column3, .column4 {
    flex: 1;
    padding-top: 35px;
    padding-left: 35px;
}

a {
    text-decoration: none;
}
  
.socials a {
    margin-right: 20px;
    font-size: 20px;
    color: #5F6472;
}
  
.socials a:hover {
    color: #B4B5B7;
}