body, header, footer {
    margin: 0;
    padding: 0;
  }
  
  .dashboard-body a {
    text-decoration: none;
  }
  
.dashboard-body {
  background-color: #FFFFFF;
}

  .dashboard-intro {
    min-height: 400px;
    text-align: center;
    padding-top: 160px;
    background: linear-gradient(to left, #AC3B10, #311C18, #1B1516, #191111);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-intro h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 36px;
    color: white;
    line-height: 0.2;
    padding-top: 75px;
  }
  
  .dashboard-intro p {
    font-family: Inter;
    font-size: 17px;
    color: #B3B3B3;
    padding-bottom: 20px;
  }

.buttons {
  padding-bottom: 70px;
}

  .Tournament {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #FF7324;
    padding: 10px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    margin-right: 15px;
    color: #FFFFFF;
  }
  
  .Tournament:hover {
    background-color: #F05700;
  }
  
  .bracket {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #454D60;
    padding: 10px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    margin-right: 15px;
    color: #FFFFFF;
  }
  
  .bracket:hover {
    background-color: #303542;
  }
  
  .dashboard-img {
    padding-bottom: 70px;
  }
  
  .communities {
    min-height: 380px;
    text-align: center;
    padding-top: 65px;
    background: #23262E;
  }
  
  .communities h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    color: white;
    line-height: 0.8;
  }
  
  .communities p {
    font-family: Inter;
    color: #B3B3B3;
    font-size: 17px;
    padding-bottom: 20px;
  }
  
  .communities a {
    color: #FFFFFF;
  }
  
  .learn-more {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #FF7324;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 700;
  }
  
  .learn-more:hover {
    background-color: #F05700;
  }
  
  .game-settings {
    background: #272A33;
    min-height: 580px;
    padding-top: 80px;
    padding-left: 435px;
  }
  
  .game-settings h1, .game-settings p {
    margin: 0;
    padding: 0;
  }
  
  .game-settings h1 {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 15px;
  }
  
  .game-settings p {
    color: #B3B3B3;
    font-family: Inter;
    font-size: 17px; 
  }
  
  .dashboard-diagonal-line {
    width: 7%;
    height: 0;
    border-bottom: 4px solid #FF7324;
    padding-top: 55px;
  }
  
  .game-columns {
    display: flex;
    padding-right: 370px;
    padding-top: 55px;
    padding-bottom: 70px;
  }
  
  .types, .participants, .scores {
    flex: 1;
  }
  
  .game-settings .types p, .game-settings .participants p, .game-settings .scores p {
    font-size: 14px;
    line-height: 1.8;
  }
  
  .game-settings h3 {
    color: #FF7324;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
  }
  
  .conventions {
    min-height: 1050px;
  }
  
  .convention-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  
  .convention-images .top {
    position: relative;
    top: 260px;
    box-shadow: 2px 2px 16px;
  }
  
  .convention-images .bottom {
    margin-top: 100px;
    margin-right: 190px;
    box-shadow: 2px 2px 16px;
  }
  
  .convention-content {
    display: flex;
  }
  
  .convention-info {
    position: relative;
    left: 150px;
    top: 70px;
  }
  
  .convention-info h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    color: #222732;
    font-size: 35px;
  }
  
  .convention-info p {
    font-family: Inter;
    color: #373F50;
    font-size: 17px;
  }
  
  .convention-info .multiple-tournaments p,
  .convention-info .tickets p,
  .convention-info .event-activity p {
    font-size: 15px;
  }
  
  .convention-info .multiple-tournaments h3 {
    padding-top: 60px;
    line-height: 0.5px;
  }
  
  .convention-info .tickets h3 {
    padding-top: 60px;
    line-height: 0.5px;
  }
  
  .convention-info .event-activity h3 {
    padding-top: 60px;
    line-height: 0.5px;
  }
  
  .convention-info h3 {
    font-family: 'Chakra Petch', sans-serif;
    color: #222732;
  }
  
  .convention-info .diagonal-line {
    width: 15%;
    height: 0;
    border-bottom: 4px solid #FF7324;
    padding-top: 40px;
  }
  
  .trustees {
    text-align: center;
  }
  
  .trustees h2 {
    margin-top: 230px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    color: #222732;
  }
  
  .logos img {
    width: 150px;
    height: 150px;
    margin-right: 80px;
    padding-bottom: 40px;
  }
  
  .logos img:last-child {
    margin-right: 0;
  }
  
  .overview {
    text-align: center;
    background-color: #272A33;
    min-height: 1100px;
  }
  
  .embed {
    padding-top: 80px;
  }
  
  .conclusion h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 35px;
    padding-top: 45px;
  }
  
  .conclusion p {
    font-family: Inter;
    color: #D8D8D8;
    font-size: 17px;
    padding-bottom: 20px;
  }
  
  .signup {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #FF7324;
    padding: 12px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 700;
  }
  
  .signup:hover {
    background-color: #F05700;
  }
  
  .signup a {
    color: #FFFFFF;
  }