body, header, footer {
    margin: 0;
    padding: 0;
}

body {
    background-color: #272A33;
}

.empty-space {
    height: 330px;
    background-color: #0F131B;
}

.main-community {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 950px;
}

.menu {
    width: 120px;
    display: block;
    position: sticky;
    top: 90px;
    margin-top: 20px;
    margin-left: 160px;
}

.menu .item1, .menu .item2, .menu .item3, .menu .item4 {
    padding: 16px 30px;
    border-radius: 50px 0 0 50px;
    border-right: 1px solid #383A42;
}

.diagonal-line1 {
    border: 1px solid #383A42;
    border-right: 1px solid #383A42;
    width: 70%;
    margin-left: 33px;
}

.menu .item1:hover, .menu .item2:hover, .menu .item3:hover, .menu .item4:hover {
    cursor: pointer;
}

.menu .item1:hover, .menu .item2:hover, .menu .item4:hover {
    background-color: #2B2F39;
}

.menu .item3 {
    background-color: #393d4a;
}

.menu .fa-users {
    color: #FFFFFF;
}

.menu .fa-ticket, .menu .fa-trophy, .menu .fa-compass {
    color: #95979C;
}

.menu .fa-ticket:hover, .menu .fa-trophy:hover, .menu .fa-compass:hover {
    color: #95979C;
}

ul {
    list-style-type: none;
}

.fa-solid {
    color: #454D60;
    font-size: 20px;
    margin-right: 15px;
}

.fa-solid:hover {
    color: white;
}

.content {
    margin-left: 40px;
    padding-top: 5px;
}

.content h1 {
    font-family: 'Chakra Petch';
    font-size: 42px;
    color: #FFFFFF;
}

.content .diagonal-line {
    border: 2px solid #F35F21;
    width: 6%;
    position: relative;
    bottom: 100px;
}

.content .link {
    position: relative;
    left: 730px;
    bottom: 125px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #00A5ED;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.content img {
    margin-left: 340px;
}

.content p {
    color: #8B8D91;
    font-size: 14px;
    font-family: Inter;
}

.create {
    position: relative;
    left: 705px;
    bottom: 125px;
    padding: 13px 52px;
    border-radius: 50px;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 17px;
    background-color: #FF7324;
    margin-top: 40px;
}

.create:hover {
    cursor: pointer;
    background-color: #F05700;
}

.create a {
    color: #FFFFFF;
    text-decoration: none;
}

.island {
    position: relative;
    bottom: 80px;
    background-color: #23262F;
    padding: 10px 340px 10px 25px;
}