body, header, footer {
    margin: 0;
    padding: 0;
}

.mycommunities-body {
    background-color: #272A33;
}

.empty-space {
    height: 330px;
    background-color: #0F131B;
}

.main-community {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 950px;
}

.mycommunities-menu {
    width: 120px;
    display: block;
    position: sticky;
    top: 90px;
    margin-top: 20px;
    margin-left: 160px;
}

.mycommunities-menu .item1, .mycommunities-menu .item2, .mycommunities-menu .item3, .mycommunities-menu .item4 {
    padding: 16px 30px;
    border-radius: 50px 0 0 50px;
    border-right: 1px solid #383A42;
}

.mycommunities-diagonal-line1 {
    border: 1px solid #383A42;
    border-right: 1px solid #383A42;
    width: 70%;
    margin-left: 33px;
}

.mycommunities-menu .item1:hover, .mycommunities-menu .item2:hover, .mycommunities-menu .item3:hover, .mycommunities-menu .item4:hover {
    cursor: pointer;
}

.mycommunities-menu .item1:hover, .mycommunities-menu .item2:hover, .mycommunities-menu .item4:hover {
    background-color: #2B2F39;
}

.mycommunities-menu .item3 {
    background-color: #393d4a;
}

.mycommunities-menu .fa-users {
    color: #FFFFFF;
}

.mycommunities-menu .fa-ticket, .mycommunities-menu .fa-trophy, .mycommunities-menu .fa-compass {
    color: #95979C;
}

.mycommunities-menu .fa-ticket:hover, .mycommunities-menu .fa-trophy:hover, .mycommunities-menu .fa-compass:hover {
    color: #95979C;
}

.mycommunities-ul {
    list-style-type: none;
}

.mycommunities-content {
    margin-left: 40px;
    padding-top: 5px;
}

.mycommunities-content h1 {
    font-family: 'Chakra Petch';
    font-size: 42px;
    color: #FFFFFF;
}

.mycommunities-diagonal-line {
    border: 2px solid #F35F21;
    width: 5.5%;
    position: relative;
    bottom: 35px;
}

.mycommunities-link {
    position: relative;
    left: 725px;
    bottom: 73px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #00A5ED;
    text-decoration: none;
}

.mycommunities-link:hover {
    text-decoration: underline;
}

.mycommunities-content img {
    margin-left: 340px;
}

.mycommunities-content p {
    color: #8B8D91;
    font-size: 14px;
    font-family: Inter;
}

.mycommunities-create {
    padding: 12px 40px;
    border-radius: 50px;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 17px;
    background-color: #FF7324;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    left: 705px;
    bottom: 70px;
}

.mycommunities-create:hover {
    cursor: pointer;
    background-color: #F05700;
}

.island {
    position: relative;
    bottom: 10px;
    background-color: #23262F;
    padding: 10px 340px 10px 25px;
}