body, header, footer {
    margin: 0;
    padding: 0;
}

.myeventss-body {
    background-color: #272A33;
}

.myevents-body a {
    text-decoration: none;
}

.empty-space {
    height: 330px;
    background-color: #0F131B;
}

.main-event {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 950px;
}

.myevents-menu {
    width: 120px;
    display: block;
    position: sticky;
    top: 90px;
    margin-top: 20px;
    margin-left: 160px;
}

.myevents-menu .item1, .myevents-menu .item2, .myevents-menu .item3, .myevents-menu .item4 {
    padding: 16px 30px;
    border-radius: 50px 0 0 50px;
    border-right: 1px solid #383A42;
}

.myevents-diagonal-line1 {
    border: 1px solid #383A42;
    border-right: 1px solid #383A42;
    width: 70%;
    margin-left: 33px;
}

.myevents-menu .item1:hover, .myevents-menu .item2:hover, .myevents-menu .item3:hover, .myevents-menu .item4:hover {
    cursor: pointer;
}

.myevents-menu .item1:hover, .myevents-menu .item3:hover, .myevents-menu .item4:hover {
    background-color: #2B2F39;
}

.myevents-menu .item2 {
    background-color: #393d4a;
}

.myevents-menu .fa-ticket {
    color: #FFFFFF;
}

.myevents-menu .fa-users, .myevents-menu .fa-trophy, .myevents-menu .fa-compass {
    color: #95979C;
}

.myevents-menu .fa-users:hover, .myevents-menu .fa-trophy:hover, .myevents-menu .fa-compass:hover {
    color: #95979C;
}

.myevents-ul {
    list-style-type: none;
}

.fa-solid {
    color: #454D60;
    font-size: 20px;
    margin-right: 15px;
}

.fa-solid:hover {
    color: white;
}

.myevents-content {
    margin-left: 40px;
    padding-top: 5px;
}

.myevents-content h1 {
    font-family: 'Chakra Petch';
    font-size: 42px;
    color: #FFFFFF;
}

.myevents-diagonal-line {
    border: 2px solid #F35F21;
    width: 5.5%;
    position: relative;
    bottom: 37px;
}

.myevents-create {
    position: relative;
    left: 840px;
    bottom: 75px;
    padding: 12px 39px;
    border-radius: 50px;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 17px;
    background-color: #FF7324;
    color: #FFFFFF;
}

.myevents-create:hover {
    cursor: pointer;
    background-color: #F05700;
}

.myevents-create a {
    color: #FFFFFF;
}

.commence {
    display: flex;
    gap: 20px;
}

.myevents-text {
    margin-left: 23px;
    margin-top: 117px;
}

.myevents-text h2 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    line-height: 1.1;
}

.myevents-text p {
    font-family: Inter;
    font-size: 21px;
    color: #D8D8D8;
    font-weight: 300;
    line-height: 1.4;
}

.myevents-create2 {
    padding: 7px 40px;
    border-radius: 50px;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #FF7324;
    margin-top: 10px;
    color: #FFFFFF;
}

.myevents-create2:hover {
    cursor: pointer;
    background-color: #F05700;
}

.myevents-create2 a {
    color: #FFFFFF;
}