body, header, footer {
    margin: 0;
    padding: 0;
}

.paragraph-body {
    background-color: #272A33;
}

.paragraph {
    margin-top: 250px;
    text-align: center;
    background-color: #272A33;
    height: 260px;
}

.paragraph p {
    font-family: Inter;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
}